.banner {
    display: flex;
    background-color: yellow;
    height: 300px;
}

.banner-item {
    flex: 1;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: flex-grow 0.5s;
}

.banner-item:hover {
    flex-grow: 10;
    
}

.banner-item:hover .banner-txt {
    transform: rotate(0);
}

.banner-item:nth-child(1) {
    background-color: green;
}

.banner-item:nth-child(2) {
    background-color: orangered;
}

.banner-item:nth-child(3) {
    background-color: darkcyan;
}

.banner-item:nth-child(4) {
    background-color: blueviolet;
}

.banner-txt {
    margin: 0;
    transform: rotate(-90deg);
    transition: transform 0.4s 0.5s;
}